# EDA

In [19]:
FILE = 'data/manufacturing_accidents.csv'

In [20]:
import pandas as pd

In [22]:
df = pd.read_csv(FILE)

In [23]:
df.sample(3)

,Data,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee ou Terceiro,Risco Critico
16,2016-02-06 00:00:00,Country_01,Local_04,Mining,III,IV,Male,Third Party,Others
149,2016-06-05 00:00:00,Country_01,Local_03,Mining,I,III,Male,Employee,Others
409,2017-05-19 00:00:00,Country_01,Local_06,Metals,I,II,Male,Employee,Projection

# End